body {
  padding-left: : 50px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#edit {
  float:right;
}

.post {
  margin:1% auto;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 425px;
  max-width: 800px;
}

#head {
    padding: 5px;
    padding-right: 20px;
    max-width: 100%;
    height: 7%;
    border-bottom: 1px solid grey;

}
#body {
  padding-right: 25px;
    padding: 7px;
    max-width: 100%;
    height: 7%;
    border-bottom: 1px solid grey;

}
#blogimg{
  max-width: 100%;
  height: 65%;
  border-bottom: 1px solid grey;
  padding-right: 25px;
    padding: 7px;
}
#blogim{
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}
#footnote {
  padding-right: 25px;
    padding: 5px;
    max-width: 100%;
    height: 5%;

}
#footlink{
  padding-right: 25px;
  padding-bottom: 5px;
      max-width: 100%;
      height: 5%;
}
.onepost{
  margin:1% auto;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: auto;
  max-width: 800px;
}
#head1 {
    padding: 5px;
    padding-right: 20px;
    max-width: 100%;
    height: 7%;
    border-bottom: 1px solid grey;

}
#body1 {
  padding-right: 25px;
    padding: 7px;
    max-width: 100%;

    border-bottom: 1px solid grey;

}
#blogimg1{
  max-width: 100%;
  height: 65%;
  border-bottom: 1px solid grey;
  padding-right: 25px;
    padding: 7px;
}
#blogim1{
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}
#footnote1 {
  padding-right: 25px;
    padding: 5px;
    max-width: 100%;
    height: 10%;

}
.success {
    list-style: none;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.error {
  list-style: none;
   color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
   padding: 15px;
   margin-bottom: 20px;
   border: 1px solid transparent;
   border-radius: 4px;
}
